html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.fondo-body{
    margin: 1rem;
    display: inline-flex;
    z-index: 0;
}

.navegador{
    background-color:rgb(22, 22, 22);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    justify-content: space-around;
    align-items: center;

}
nav a{
    display: flex;
    margin: px;
    text-decoration: none;
    font-size: larger;
    color: white;
}   

.titulos{
    color: white;
    margin: 5rem;
}
.titulo1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-tabla-1{
    background-color: rgba(26, 26, 26, 0);
    font-size: x-large;
    display: flex;
    justify-content: center;
}

tbody{
    color: white;
}
.t1{
    background-color:rgb(22, 22, 22);
}
.t2{
    background-color: rgb(255, 115, 50);
}
.t3{
    background-color: rgb(255, 115, 50);
}
.t4{
    background-color: rgb(255, 115, 50);
}
.t5{
    background-color: rgb(255, 115, 50);
}
