html{
    background-color:rgb(34, 34, 34);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.fondo-body{
    opacity: 0%;
    position: absolute;
    z-index: -1;
}

/*  NAVEGADOR  */
.barra-nav{
    margin: 0 3rem 0 0;
    width: 100%;
    background-color: rgb(202, 152, 138);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    box-shadow: #09061b8c 1px 1px 25px;
    border-end-start-radius: 10px;
}
.barra-nav a{
    color:#ffffff ;
    display: flex;
    width: 20vh;
    height: 48px;
    background-color: #ff6017;
    border-radius: 3px 15px 5px 15px;    
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    margin: 1rem 0 1rem 0;
}
.log{
    width: 6rem;
    margin: 5px 10px 5px 10rem;
}
.titulos{
    background-color: #ff6017;
    font-size: 20px;
    border-radius: 65px;
    padding: 6rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow:#d1fcff98 1px 1px 20px;
    box-shadow: #1d1d1d 1px 1px 25px;
}
.titulo1{
    font-size: 160px;
    margin-top: 2rem;
    height: 10rem;
}
.titulo2{
    margin: 3rem 0 0 0;
    font-size: larger;
    height: 1rem;
}

/*  HOME  */
.contenedor-personas-img{
    display: flex;
    justify-content:center;
}   
.personas_train{
    display: none;
}
.conteiner-button{
    margin: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center ;
    align-items: end;
    height: 50vh;
    background-image: url("../images/image/together.jpg");
}
button {
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ff5f15;
    border: none;
    color: #FFFFFF;
    text-align: start;
    font-size: 24px;
    padding: 16px;
    width: 100%;
    height: 3rem;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: #02010c8c 1px 1px 25px;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
button:hover span {
    padding-right: 15px;
}
button:hover span:after {
    opacity: 1;
    right: 0;
}
button span a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.contenedor-p-img{
    display: flex;
    justify-content: center;
}

.info1{
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 20rem;
    text-align: center;
    text-shadow:#d1fcffbd 1px 1px 20px;
}
.elemento-img{
    position: absolute;
    z-index: -1;
    width: 60vh;
    padding: 1rem;
    display: block;
}

/*  ABOUT  */
.contenedor-img-p-about{
    margin: 3rem;
    background-color: #ff5e00;
    color: white;
    font-size: large;
    display: flex;
    justify-content: space-around;
    box-shadow: #ff3300 1px 1px 20px;
}
.contenedor-chicos,
.contenedor-personas, 
.contenedor-pesas{
    margin:1rem;
    box-shadow: #0f0f0f59 1px 5px 15px;
}
div .a1, .a2, .a3{
    width: 25rem;
    display: flex;
}
.b1, .b2, .b3{
    margin: 1rem;
    width: 23rem;
    text-shadow:#ffffff91 1px 1px 10px;
}

/*  CONTACT  */
.infodd{
    display: flex;
    justify-content: center;
}
.infocontact{
    margin: 3rem;
    width: 100vh;
    flex-direction: column;
}
.contacto-img{
    width: 90vh;
    margin: 2rem;
    display: flex;
    justify-content:center;
    box-shadow: #00000083 1px 6px 18px;
}
.contact-p{
    width: 100vh;
    color:white;
    font-size: larger;
    text-shadow:#1f2030 0px 2px 10px;
}

/*  SCHEDULES  */
.tab{
    height: 50vh;
    margin: 12vh;
    display: flex;
    justify-content: center;
}
table{
    color: white;
    background-color: rgb(39, 39, 39);
    padding:3rem;
}
table, tr, th, td{
    width: 100vh;    
    border: 3px solid rgb(255, 76, 76);
    border-collapse:collapse;
    font-size: x-large;
    text-align: center;
}
.tr1{
    background-color: #ff6720;
}

/* BENEFITS */
.conteiner-list-img{
    margin: 5rem;
    border-radius: 10px;
    display:flex;
    display: inline-block;
    justify-content: center;
}
.conteiner-list-img1,
.conteiner-list-img2{
    padding: 0 3rem 0 4rem;
    color: white;
    display: flex;
    display: inline-block;
    justify-items: center;
}
ol, ul, li{
    margin: 3px 0 0rem 40px;
}
.list, .list2{
    font-weight: 700;
    color: white;
    font-size: 20px;
    width: 88vh;
    height: 8rem;
    background-color: #ff5e00;
    border-radius: 5px;
    display: flex;
    display: block;
}
.ad1, .ad2{ 
    font-size: larger;
}
.conteiner-yoga, 
.conteiner-maquinas{
    width: 50vh;
    height: 30vh;    
    box-shadow: #00000083 1px 6px 18px;
    margin-bottom: 1rem;
    border-radius: 5px;
}

/*  FOOTER  */
footer{
    background-color: #ff4800;
    padding-bottom: 3rem;
}
.conteiner-foot{
    height: 2rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
}   
.Email, 
.Tel{
    color: white;
    text-decoration:none;
    font-size: larger;
    font-weight: 600;
}